*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
#userCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    
}

.user-card {
    background-color: #f39c2b4d;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
    transition: transform 0.3s ease;
}

.user-card:hover {
    transform: scale(1.05); 
}

.user-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;    
}

.user-card p {
    margin: 10px 0;
    padding-left: 20px;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    #userCards {
        grid-template-columns: 1fr; /* Change to single-column layout on small screens */
    }

}
@media (max-width: 500px){
    .user-card{
        max-width: 280px;
        
    }
    .user-card h3{
        font-size: 1.3rem;
    }
    .user-card p{
        font-size: 1rem;
    }
    img{
        margin: auto;
        width: 200px;
        
        
    }
}